<%= image_tag @profile.picture.variant(resize_to_limit: [150, 150]) %>
<h1><%= @profile.name %></h1>

<div>
  <dl>
    <dt>Nome completo:</dt>
    <dd><%= @profile.full_name %></dd>
    <dt>CPF:</dt>
    <dd><%= @profile.document %></dd>
    <dt>Data de nascimento:</dt>
    <dd><%= l @profile.birth_date %></dd>
    <dt>Formação:</dt>
    <dd><%= @profile.graduation %></dd>
    <dt>Instituição de ensino:</dt>
    <dd><%= @profile.university %></dd>
    <dt>Resumo:</dt>
    <dd><%= @profile.description %></dd>
    <dt>Experiência:</dt>
    <dd><%= @profile.experience %></dd>
  </dl>
</div>

<% if headhunter_signed_in? %>
  <%= form_with model: @comment, url: headhunter_comments_path, local: true do |f| %>
    <div>
    <%= f.hidden_field :headhunter_id, value: current_headhunter.id %>
    <%= f.hidden_field :profile_id, value: @profile.id %>
    <%= f.label :message, 'Comentários' %>
    <%= f.text_field :message %>
    <%= f.submit 'Enviar' %>
    </div>
  <% end %>
  
  <p>Comentários</p>
  <% @comments.each do |c| %>
    <% if c.headhunter_id == current_headhunter.id && c.profile_id == @profile.id %>
      <p><%= c.message %></p>
      <p><%= l c.created_at %></p>
      <% if c.answer.nil? %>
        <p>Aguardando o candidato responder</p>
      <% else %>
        <%= c.answer.answer %>
        <%= l c.answer.created_at %>
      <% end %>
    <% end %>
  <% end %>
<% end %>


