<h1>Vagas</h1>

<div>
<%= form_with url: search_user_jobs_path, method: :get do |f| %>
  <%= f.label :q, 'Pesquisa' %> 
  <%= f.text_field :q %>
  <%= f.submit 'Pesquisar' %>
<% end %>
</div>

<% if @jobs.any? %>
<ul>
  <% @jobs.each do |job| %>
    <li><%= link_to job.title, user_job_path(job) %></li>
  <% end %>
</ul>
<% else %>
<p><%= "Nenhum resultado encontrado para: #{@q}" %></p>
<% end %>