<%= image_tag @profile.picture.variant(resize_to_limit: [150, 150]) %>
<h1><%= @profile.name %></h1>

<div>
  <dl>
    <dt>Nome completo:</dt>
    <dd><%= @profile.full_name %></dd>
    <dt>CPF:</dt>
    <dd><%= @profile.document %></dd>
    <dt>Data de nascimento:</dt>
    <dd><%= l @profile.birth_date %></dd>
    <dt>Formação:</dt>
    <dd><%= @profile.graduation %></dd>
    <dt>Instituição de ensino:</dt>
    <dd><%= @profile.university %></dd>
    <dt>Resumo:</dt>
    <dd><%= @profile.description %></dd>
    <dt>Experiência:</dt>
    <dd><%= @profile.experience %></dd>
  </dl>
</div>


<% if @profile.user_id == current_user.id %>
  <p>Comentários</p>
  <% @profile.comments.each do |c| %>
    <p><%= c.message %></p>
    <p><%= l c.created_at %></p>
    <% if c.answer.nil? %>
      <%= form_with model: @answer, url: user_answers_path, local: true do |f| %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.hidden_field :comment_id, value: c.id %>
        <%= f.label :answer, 'Responder' %>
        <%= f.text_field :answer %>
        <%= f.submit 'Enviar' %>
      <% end %>
    <% else %>
      <%= c.answer.answer %>
      <%= l c.answer.created_at %>
    <% end %>
  <% end %>
<% end %>
