<!DOCTYPE html>
<html>
  <head>
    <title>JoinJobs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      
    <% if headhunter_signed_in? %>
        <%= link_to 'Minhas vagas', headhunter_jobs_path %>
        <%= link_to 'Cadastrar nova vaga', new_headhunter_job_path %>
        <%= link_to 'Sair', destroy_headhunter_session_path, method: :delete %>
      <% elsif user_signed_in? %>
        <% user = current_user %>
        <% if user.profile.nil? %>
          <%= link_to 'Perfil', new_user_profile_path %>
          <% else %>
          <%= link_to 'Perfil', user_profile_path(user) %>
          <%= link_to 'Vagas', user_jobs_path %>
          <% end %>
        <%= link_to 'Sair', destroy_user_session_path, method: :delete %> 
      <% else %>
        <%= link_to 'Inscrever-se como headhunter', new_headhunter_registration_path %>
        <%= link_to 'Entrar como headhunter', new_headhunter_session_path %>
        <%= link_to 'Inscrever-se', new_user_registration_path %>
        <%= link_to 'Entrar', new_user_session_path %>
      <% end %>
    </nav>

    <p class="notice"><%= flash[:notice] %></p>
    <p class="alert"><%= flash[:alert] %></p>
    <%= yield %>
  </body>
</html>
